{% block ezzip_field_definition_edit %}
    <div class="ezzip-validator postalcode-country{% if group_class is not empty %} {{ group_class }}{% endif %}">
        {{- form_label(form.postalCodeCountry) -}}
        {{- form_errors(form.postalCodeCountry) -}}
        {{- form_widget(form.postalCodeCountry) -}}

    </div>
    {#{ dump(form) }#}
{% endblock %}